{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "env": {
    "node": true
  },
  "rules": {
    // TODO: This can be removed if we update module in tsconfig.json to es2018 or above instead of commonjs
    // https://github.com/sindresorhus/eslint-plugin-unicorn/blob/main/docs/rules/prefer-module.md
    "unicorn/prefer-module": "off",

    // TODO: This can be removed if we decide to add jsdoc to all functions
    "valid-jsdoc": "off",

    // TODO: This can be removed if we refactor network functions to call async functions outside of loops
    "no-await-in-loop": "off"
  }
}
