{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "env": {
    "node": true
  },
  "rules": {
    // TODO: This can be removed if we update module in tsconfig.json to es2018 or above instead of commonjs
    // https://github.com/sindresorhus/eslint-plugin-unicorn/blob/main/docs/rules/prefer-module.md
    "unicorn/prefer-module": "off",

    // TODO: This can be removed if we decide to add jsdoc to all functions
    "valid-jsdoc": "off",
    "no-await-in-loop": "off",
    "unicorn/filename-case": "off",
    "no-negated-condition": "off",
    "no-else-return": "off",
    "no-eq-null": "off",
    "eqeqeq": ["error", "smart"]
  }
}
