## oclif
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
oclif.manifest.json


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*-debug.log
*-error.log

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# env
.env
.env.local
.env.dev
.env.prod
.end.stage

# DB
blocks.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# config
config.json
